@font-face {
    font-family: 'Archia';
    src: url('fonts/Archia/archia-thin-webfont.eot');
    src:
      url('fonts/Archia/archia-thin-webfont.eot?#iefix') format('embedded-opentype'),
      url('fonts/Archia/archia-thin-webfont.woff2') format('woff2'),
      url('fonts/Archia/archia-thin-webfont.woff') format('woff'),
      url('fonts/Archia/archia-thin-webfont.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Archia';
    src: url('fonts/Archia/archia-light-webfont.eot');
    src:
      url('fonts/Archia/archia-light-webfont.eot?#iefix') format('embedded-opentype'),
      url('fonts/Archia/archia-light-webfont.woff2') format('woff2'),
      url('fonts/Archia/archia-light-webfont.woff') format('woff'),
      url('fonts/Archia/archia-light-webfont.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Archia';
    src: url('fonts/Archia/archia-regular-webfont.eot');
    src:
      url('fonts/Archia/archia-regular-webfont.eot?#iefix') format('embedded-opentype'),
      url('fonts/Archia/archia-regular-webfont.woff2') format('woff2'),
      url('fonts/Archia/archia-regular-webfont.woff') format('woff'),
      url('fonts/Archia/archia-regular-webfont.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Archia';
    src: url('fonts/Archia/archia-medium-webfont.eot');
    src:
      url('fonts/Archia/archia-medium-webfont.eot?#iefix') format('embedded-opentype'),
      url('fonts/Archia/archia-medium-webfont.woff2') format('woff2'),
      url('fonts/Archia/archia-medium-webfont.woff') format('woff'),
      url('fonts/Archia/archia-medium-webfont.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Archia';
    src: url('fonts/Archia/archia-semibold-webfont.eot');
    src:
      url('fonts/Archia/archia-semibold-webfont.eot?#iefix') format('embedded-opentype'),
      url('fonts/Archia/archia-semibold-webfont.woff2') format('woff2'),
      url('fonts/Archia/archia-semibold-webfont.woff') format('woff'),
      url('fonts/Archia/archia-semibold-webfont.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Archia';
    src: url('fonts/Archia/archia-bold-webfont.eot');
    src:
      url('fonts/Archia/archia-bold-webfont.eot?#iefix') format('embedded-opentype'),
      url('fonts/Archia/archia-bold-webfont.woff2') format('woff2'),
      url('fonts/Archia/archia-bold-webfont.woff') format('woff'),
      url('fonts/Archia/archia-bold-webfont.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
  }


body {
    padding-top: 70px;
}

body, p, button {
    font-family: 'archia', sans-serif;
    font-weight: normal;
}

.navbar-default {
    background-color: white;
}

.panel-heading span {
    margin-top: -17px;
    font-size: 15px;
}

hr.star-light:after {
    background-color: #1896bc;
    color: white;
}

hr.star-light:after {
    content: "\f005";
    font-family: 'Font Awesome\ 5 Free', serif;
    display: inline-block;
    position: relative;
    top: -.8em;
    font-size: 2em;
    padding: 0 .25em;
}

.btn-outline {
    color: #fff;
    font-size: 20px;
    border: 2px solid #fff;
    background: 0 0;
    transition: all .3s ease-in-out;
    margin-top: 25px;
    margin-bottom: 15px;
}

.btn-outline:hover,
.btn-outline:focus,
.btn-outline:active,
.btn-outline.active {
    color: #1896bc;
    background: white;
    border: solid 2px white;
}

.modal-container {
    position: relative;
}
.modal-container .modal, .modal-container .modal-backdrop {
    position: absolute;
}

#menu > .active > a {
    color: #4078c0;
    background-color: whitesmoke;
}
#menu > li > a:hover {
    color: #4078c0
}

.problems-filter-enter {
    opacity: 0.01;
}

.problems-filter-enter.problems-filter-enter-active {
    opacity: 1;
    transition: opacity 600ms ease-in;
}

.problems-filter-leave {
    opacity: 1;
}

.problems-filter-leave.problems-filter-leave-active {
    opacity: 0.01;
    transition: opacity 600ms ease-in;
}

.pulse-button {
    box-shadow: 0 0 0 0 rgba(92,184,92, 0.7);
    -webkit-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
    -moz-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
    -ms-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
    animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
}
.pulse-button:hover
{
    -webkit-animation: none;-moz-animation: none;-ms-animation: none;animation: none;
}

@-webkit-keyframes pulse {to {box-shadow: 0 0 0 25px rgba(92,184,92, 0);}}
@-moz-keyframes pulse {to {box-shadow: 0 0 0 25px rgba(92,184,92, 0);}}
@keyframes pulse {to {box-shadow: 0 0 0 25px rgba(92,184,92, 0);}}

.react-calendar-heatmap text {
    font-size: 10px;
    fill: #aaa;
}

.react-calendar-heatmap .react-calendar-heatmap-small-text {
    font-size: 5px;
}

.react-calendar-heatmap rect:hover {
    stroke: #555;
    stroke-width: 1px;
}

.react-calendar-heatmap .color-github-0 {
    fill: #eeeeee;
}
.react-calendar-heatmap .color-github-1 {
    fill: #bbdefb;
}
.react-calendar-heatmap .color-github-2 {
    fill: #64b5f6;
}
.react-calendar-heatmap .color-github-3 {
    fill: #1e88e5;
}
.react-calendar-heatmap .color-github-4 {
    fill: #0d47a1;
}

.dropdown-menu .divider {
    margin: 5px 0;
}

.caption{
    display: block;
}

.item{
    vertical-align: top;
    display: inline-block;
    text-align: center;
    width: 300px;
}